.paralax {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__item {
    fill: #FFA2A4;
    // transition: all 0.3s ;
    position: absolute;
    @media (max-width: 768px) {
      opacity: 0.3;
    }
    &--1 {
      right: 15%;
      top: 18%;
    }
    &--2 {
      top: 20%;
      left: 4%;
    }
    &--3 {
      right: 10%;
      top: 40%;
    }
    &--4 {
      left: 40%;
      top: 41%;
    }
    &--5 {
      position: absolute;
      left: 40%;
      top: 18%;
      fill: #fff;
      opacity: 0.5;
    }
    &--6 {
      right: 20%;
      bottom: 15%;
    }
    &--7 {
      left: 20%;
      bottom: 15%;
    }
  }
}

.paralax {

		&__item {
		}

		&__item--21 {
      left: 35%;
      bottom: 40%;
		}

		&__item--22 {
      top: 20%;
      left: 10%;
		}

		&__item--23 {
      left: 38%;
      top: 20%;
		}

		&__item--24 {
      right: 20%;
      bottom: 48%;
		}

		&__item--25 {
      top: 25%;
      right: 10%;
		}

		&__item--26 {
      right: 10%;
      bottom: 10%;
		}
    &__item--27 {
      left: 10%;
      bottom: 0;
		}
}


.paralax {

  &__item {
  }

  &__item-31 {
    top: -10%;
    left: 20%;
  }

  &__item-32 {
    left: 4%;
    top: -5%;
  }

  &__item-33 {
    right: 4%;
    top: 55%;
  }

  &__item-34 {
    top: 25%;
    left: 5%;
  }

  &__item-35 {
    top: 25%;
    right: 5%;
  }

  &__item-36 {
    top: 50%;
    right: 20%;
  }
}