.shop {
  padding: 30px 0 200px;
  background: url('./img/shop/shop-bg.png') no-repeat center;
  background-size: cover; 
  position: relative;

  @media (max-width: 1100px) {
    padding: 30px 0 100px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 1 50%;
    margin-bottom: 100px;
    &:nth-child(2n+1){
      padding-right: 5px;
    }
    &:nth-child(2n){
      padding-left: 5px;
    }

    @media (max-width: 940px) {
      flex: 0 1 100%;
    }

    @media (max-width: 940px) {
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    margin-bottom: 32px;
    line-height: 150%;
    &--red{
      display: inline-block;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        
        height: 2px;
        width: 100%;
        background: linear-gradient(268.82deg, #2E2594 0%, #F73B6C 97.99%);
      }
  }
}

  &__text {
    max-width: 700px;
  }

  &__item-product {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 600px) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__product-img {
    transition: all 0.3s;
    margin-right: 40px;
    min-width: 120px;

    @media (max-width: 1050px) {
      margin-right: 20px;
    }

    @media (max-width: 940px) {
      margin-right: 50px;
    }

    @media (max-width: 600px) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__product-content {
    max-width: 270px;
  }

  &__product-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 136%;
    color: #2E2594;

    margin-bottom: 15px;

    @media (max-width: 1000px) {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  &__stars-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @media (max-width: 1000px) {
      margin-bottom: 15px;
    }

    @media (max-width: 600px) {
      justify-content: center;
    }
  }

  &__stars {

  }

  &__review {
    font-size: 18px;
    line-height: 133%;
    color: #332B5C;

    margin-left: 12px;
  }

  &__price-wrapper {
    margin-bottom: 15px;
  }

  &__new-prise {
    color: #B53071;
  }

  .prise{
    font-size: 24px;
    line-height: 100%;
    font-weight: 700;

    @media (max-width: 1000px) {
      font-size: 22px;
    }
  }

  &__old-prise {
    margin-left: 25px;

    text-decoration-line: line-through;
    color: #94939B;
  }
}