.streamer {
  z-index: 1;
  padding: 30px 0;
  background: url('./img/streamer/streamer-bg.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  &__text-wrapper {
    text-align: center;
    max-width: 500px;
    margin: 0 auto 60px;
  }

  &__swiper{
    padding-bottom: 60px;

    @media (max-width: 768px) {
      padding-bottom: 30px;
    }
  }

  &__title{
    &--red{
      color: #B53071;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;

        height: 2px;
        width: 100%;
        transform: rotate(-0.74deg);
        background: linear-gradient(268.82deg, #2E2594 0%, #F73B6C 97.99%);
      }
    }
  }

  &__slide-img{
    width: 100%;
    max-width: 570px;
    height: 350px;
    margin: 0 auto;

    overflow: hidden;

    border: 6px solid rgba(255, 255, 255, 0.8);
    border-radius: 175px;
  }


  &__video-link{
    display: block;
    position: relative;
    &::before{
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      height: 150px;
      width: 150px;
      background: url('./img/streamer/player.svg');

    }
    img{
      height: 350px;
      width: 570px;
    }
  }

  &__play{
    display: inline-block;
    position: relative;
    min-height: 27%;
    width: 150px;
    background: linear-gradient(181.4deg, #2E2594 -10.1%, #F73B6C 255.25%);
    opacity: 0.8;
    border-radius: 75px;

    &::after{
      content: '';
      position: absolute;
      top: 50%;
      transform: translate( -25% , -50%);
      left: 50%;

      border: 50px solid transparent; 
      border-left: 70px solid #FFFFFF;
    }
  }

  .swiper-pagination{
    transform: translateX(0)!important;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    position: static;
  }
  .swiper-pagination-bullet{
    background: #FFFFFF;

    height: 16px;
    width: 16px;

    transform: scale(1);
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    height: 24px;
    width: 24px;

    background:  #B53071;
  }
}