.testimonial {
  background: url('./img/testimonial/testimonial-bg.png') center no-repeat;
  background-size: cover;

  padding: 90px 0 120px;

  @media (max-width: 768px) {
    padding: 50px 0 80px;
  }
  &__text-wrapper {
    text-align: center;
    width: fit-content;
    margin: 0 auto 40px;
  }

  &__swiper{
    padding-bottom: 60px;
    overflow:unset;

    @media (max-width: 768px) {
      padding-bottom: 30px;
    }
  }

  &__title {
    position: relative;
    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;

        height: 2px;
        width: 100%;
        background: linear-gradient(268.82deg, #2E2594 0%, #F73B6C 97.99%);
      }
  }

  &__title--red {
    color: #B53071!important;
      
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content-img {
    position: relative;
    min-width: 350px;
    @media (max-width: 768px) {
      display: none;
    }
    &::before{
      content: '';
      z-index: -1;
      position: absolute;
      height: 188px;
      width: 210px;
      background: url('./img/dots.svg') no-repeat;
      left: -150px;
      top: 0;
    }
    &::after{
      content: '';
      position: absolute;
      height: 50px;
      width: 50px;
      // background: url('./img/joistick.svg') center no-repeat;
      left: -150px;
      bottom: 50px;
      left: 20px;
    }
  }

  &__slide-content {
    max-width: 588px;
    padding-left: 40px;
    @media (max-width: 768px) {
      padding-left: 0;
    }
  }

  &__slide-text {
  margin-top: 30px;

  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #332B5C;

  @media (max-width: 968px) {
    font-size: 20px;
  }

  @media (max-width: 768px) {
    margin-top: 5px;
  }
  }

  &__permission {
  font-size: 24px;
  line-height: 125%;
  color: #B53071;
  font-weight: 700;

  @media (max-width: 968px) {
    font-size: 20px;
  }
  }

  &__slider-text-wrapper{
    display: block;
    margin-top: 65px;
    @media (max-width: 968px) {
      margin-top: 35px;
      display: flex;
      align-items: center;
    }
    @media (max-width: 768px) {
      margin-top: 15px;
    }
  }

  &__envelop{
    @media (max-width: 968px) {
      margin-right: 30px;
    }
  }

  &__mibile-content-img{
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }

  &__gamer {
  background: linear-gradient(181.4deg, #2E2594 -10.1%, #F73B6C 255.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 600;
  font-size: 16px;
  @media (max-width: 968px) {
    font-size: 14px;
  }
  }

  .swiper-pagination{
    transform: translateX(0)!important;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    position: static;
  }
  .swiper-pagination-bullet{
    background: #FFFFFF;

    height: 16px;
    width: 16px;

    transform: scale(1);
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    height: 24px;
    width: 24px;

    background:  #B53071;
  }

}